<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="fragments/header :: main-head">
이렇게 쓰니까 warn 발생함.
</head>-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <!--<th:block layout:fragment="title"></th:block>-->
    <!--https://hermeslog.tistory.com/726 사이트 참고-->

    <link rel="stylesheet" th:href="@{/css/default.css}" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/content.css}" />
    <link rel="stylesheet" th:href="@{/css/button.css}" />
</head>
<body th:replace="fragments/body :: main-body"></body>
</html>